/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff8ec;
    color:#333;
}

/* CABEÇALHO */

header{
    background:#6d3b12;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
    z-index:999;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#FFD54F;
}

/* BANNER */

.banner{
    height:85vh;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("../img/banner.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.banner-texto{
    color:white;
}

.banner h1{
    font-size:60px;
    margin-bottom:20px;
}

.banner p{
    font-size:22px;
    margin-bottom:35px;
}

.botao{

    background:#FFC107;
    color:#222;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;

}

.botao:hover{

    background:#ff9800;
    color:white;

}

/* PRODUTOS */

.destaques{

padding:70px 8%;

}

.destaques h2{

text-align:center;
margin-bottom:50px;
font-size:38px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;

}

.card{

background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,.15);
transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;
height:220px;
object-fit:cover;

}

.card h3{

margin-top:20px;
text-align:center;

}

.card p{

text-align:center;
margin:15px;
font-size:20px;
font-weight:bold;
color:#6d3b12;

}

.card button{

display:block;
margin:20px auto 30px;
background:#6d3b12;
color:white;
border:none;
padding:14px 30px;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:.3s;

}

.card button:hover{

background:#ff9800;

}

/* BENEFÍCIOS */

.beneficios{

background:#ffe8b5;
padding:70px 8%;

}

.beneficios h2{

text-align:center;
margin-bottom:40px;

}

.beneficios-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;

}

.beneficios-grid div{

background:white;
padding:30px;
text-align:center;
border-radius:12px;
font-size:22px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}

/* RODAPÉ */

footer{

background:#6d3b12;
color:white;
text-align:center;
padding:30px;
margin-top:60px;

}

/* RESPONSIVO */

@media(max-width:768px){

header{

flex-direction:column;

}

nav ul{

flex-direction:column;
text-align:center;

}

nav li{

margin:10px 0;

}

.banner h1{

font-size:38px;

}

.banner p{

font-size:18px;

}

}