body{

    margin:0;
    
    font-family:Arial;
    
    background:#fff7e8;
    
    color:#4b260e;
    
    }
    
    
    header{
    
    background:#c87916;
    
    color:white;
    
    text-align:center;
    
    padding:30px;
    
    }
    
    
    
    .hero{
    
    text-align:center;
    
    padding:50px;
    
    }
    
    
    
    .hero a{
    
    background:#4b260e;
    
    color:white;
    
    padding:15px 30px;
    
    border-radius:30px;
    
    text-decoration:none;
    
    }
    
    
    
    .produtos{
    
    display:flex;
    
    justify-content:center;
    
    gap:20px;
    
    flex-wrap:wrap;
    
    }
    
    
    
    .produto{
    
    background:white;
    
    width:250px;
    
    padding:25px;
    
    border-radius:15px;
    
    box-shadow:0 5px 15px #ccc;
    
    text-align:center;
    
    }
    
    
    
    button{
    
    background:#c87916;
    
    border:0;
    
    color:white;
    
    padding:12px 25px;
    
    border-radius:20px;
    
    cursor:pointer;
    
    }
    
    
    
    .carrinho{
    
    background:white;
    
    margin:40px;
    
    padding:30px;
    
    border-radius:15px;
    
    }
    
    
    
    footer{
    
    background:#4b260e;
    
    color:white;
    
    text-align:center;
    
    padding:20px;
    
    }